<label for="actor-search">Actors</label>

<!-- Actor Search Input -->
<div class="actor-search-wrapper">
    <input
            type="text"
            id="actor-search"
            placeholder="Search for an actor..."
            autocomplete="off">
    <div id="actorDropdown" class="actor-dropdown"></div>
</div>

<!-- Selected Actors List -->
<div id="selectedActorsList">
    {{#movie.actors}}
    <div class="actor-item" data-actor-id="{{id}}">
        <div class="actor-header">
            <a href="/person/{{slug}}">
                {{#portrait}}
                <img class="personIconSmall" src="/persons/{{portrait}}" alt="Portrait of {{name}}">
                {{/portrait}}
                {{^portrait}}
                <img class="personIconSmall" src="/img/persons/placeholder.jpg" alt="{{name}}">
                {{/portrait}}
            </a>
            <a href="/person/{{slug}}" class="actor-name">{{name}}</a>
            <button type="button" class="btn actor-remove-btn"><i class="bi bi-trash"></i></button>
        </div>
        <div class="actor-role-row">
            <span class="actor-role-label">as</span>
            <input type="text" class="actor-role-input" placeholder="Role" value="{{role}}" name="actorRole[]" required>
            <input type="hidden" name="actorId[]" value="{{id}}">
        </div>
    </div>
    {{/movie.actors}}
</div>
