<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div
				class="modal-header d-flex flex-column justify-content-center align-items-center flex-grow-1 text-center">
				<h2>
					<i class="modal-title-icon bi"></i>
					<span class="modal-title-text"></span>
				</h2>
			</div>
			<div class="modal-body">
				<p class="modal-message text-muted m-0"></p>
			</div>
			<div class="modal-footer">
				<!-- Close Button (without redirect) -->
				<button type="button" class="modal-close-btn btn w-50 pe-4 mx-auto" data-bs-dismiss="modal" style="display: none;">
					<i class="bi bi-check-circle-fill me-2"></i>
					<span>OK</span>
				</button>

				<!-- Redirect Button (via link) -->
				<a href="#" class="modal-redirect-btn btn w-50 pe-4 mx-auto" style="display: none;">
					<i class="modal-redirect-icon bi bi-arrow-left me-2"></i>
					<span class="modal-redirect-text">Back</span>
				</a>
			</div>
		</div>
	</div>
</div>