<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
	{{>partials/baseHead}}
	<title>{{title}} ({{releaseYear}}) on Cinemateca</title>

	<!--Own stylesheets-->
	<link rel="stylesheet" href="/css/movie.css">
    <link rel="stylesheet" href="/css/form.css">

	<!--Own scripts-->
	<script src="/js/utils.js" defer></script>
	<script src="/js/movie.js" defer></script>
    <script src="/js/actorForm.js" defer></script>
</head>

<body class="d-flex flex-column h-100">

	{{>partials/header}}

	<main>
		<div class="topRow">
			<div>
				<a class="btn" href="/"><i class="bi bi-chevron-left"></i></a>
				<h2 id="movieTitle">{{title}}</h2>
			</div>

			<div>
				<div>
					<a class="btn" href="/movie/edit/{{slug}}"><i class="bi bi-pencil"></i></a>
				</div>
				<div id="deleteMovieButton" class="btn btn-delete" data-slug="{{slug}}">
					<i class="bi bi-trash3-fill"></i>
				</div>
			</div>
		</div>

		<div class="container-fluid p-0">
			<div class="row g-3">
				<div class="col-md-6 col-sm-12">
					<div class="moviePoster">
                        {{#poster}}
						<img src="/movie/{{slug}}/poster" alt="Poster of {{title}} ({{releaseYear}})">
                        {{/poster}}

                        {{^poster}}
                        <img src="/img/moviePosters/placeholder.jpg" alt="No poster available">
                        {{/poster}}
					</div>
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="details">
						<div class="detailsBlock">
							<div class="meta p-0 m-0">
								<div class="metaRow d-flex pb-1 m-0">
									<div class="flex-fill d-flex p-0 m-0">
										<p>Release Year</p>
										<hr class="flex-grow-1 mx-3">
									</div>
									<h3>{{releaseYear}}</h3>
								</div>

								<div class="metaRow d-flex pb-1 m-0">
									<div class="flex-fill d-flex p-0 m-0">
										<p>Genre</p>
										<hr class="flex-grow-1 mx-3">
									</div>
									<h3 class="flex-shrink-1">{{genresText}}</h3>
								</div>

								<div class="metaRow d-flex pb-1 m-0">
									<div class="flex-fill d-flex p-0 m-0">
										<p>Country</p>
										<hr class="flex-grow-1 mx-3">
									</div>
									<h3>{{countriesText}}</h3>
								</div>

								<div class="metaRow d-flex m-0">
									<div class="flex-fill d-flex p-0 m-0">
										<p>Age Rating</p>
										<hr class="flex-grow-1 mx-3">
									</div>
									<h3>{{ageRating}}</h3>
								</div>
							</div>
						</div>

						<div class="detailsBlock">
							<p>{{description}}</p>
						</div>

						<div class="detailsBlock">
							<div class="actors d-flex flex-column gap-1">

								<div class="topRow headerActors">
									<h3>Starring</h3>
									<a class="btn" id="addActor"><i class="bi bi-plus"></i></a>
								</div>

                                <div id="editActors" class="notEditingActors"></div>

                                <div id="actorSection">
									{{>partials/actorSection}}										
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

	{{>partials/footer}}

</body>

</html>