.actorIconSmall {
    margin: 0 0.5em 0 0;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.actorIconLarge {
    margin: 0 0.5em 0 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: cover;
}