@import url("base.css");

form {
    display: flex;
    flex-direction: column;
}

label {
    color: var(--color-text);
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.15rex;
}

form label:not(:first-of-type) {
    margin-top: 1rem;
}

input,
select,
textarea {
    color: var(--color-text-muted);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--color-bg-alt-darker);
}

textarea::placeholder,
input::placeholder,
select::placeholder {
    color: var(--color-text-muted);
}

textarea:focus,
input:focus,
select:focus,
select:hover{
    outline: none;
    color: var(--color-text);
}

select {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-clip: padding-box;
    cursor: pointer;
}

option {
    color: var(--color-text-muted);
    border-radius: var(--border-radius);
    padding: 0.5rem;
}

option:hover {
    color: white !important;
    background-color: var(--color-bg-hover) !important;
}

option:checked,
option:active,
option:focus {
    color: white !important;
    background-color: var(--active) !important;
}

select::-webkit-scrollbar {
    width: 0.3rem;
    border-radius: var(--border-radius);
}

select::-webkit-scrollbar-track {
    border-radius: var(--border-radius);
    background-color: transparent;
}

select::-webkit-scrollbar-thumb {
    background: var(--color-text-muted);
    border-radius: var(--border-radius);

}

select::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
}

.image-upload-container {
    width: 100%;
    max-width: 100%;
}

.image-preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image-preview-actor {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image-preview img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.image-preview-actor img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.upload-box {
    font-size: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-alt-darker);
    cursor: pointer;
    width: 100%;
    transition: border-color 0.3s, background-color 0.3s;
}

.upload-box-poster {
    aspect-ratio: 2 / 3;
    border-radius: var(--border-radius);
}

.upload-box-portrait {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.upload-box:hover {
    background-color: var(--color-bg-hover);
}

.upload-box input[type="file"] {
    display: none;
}

.upload-box.drag-over {
    background-color: var(--color-bg-hover);
    color: white;
}