@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("variables.css");

* {
    font-family: "Montserrat", sans-serif;
    color: var(--color-text);
}

body {
    max-width: var(--max-width);
    width: 80%;
    background-color: var(--color-bg);
    margin: 0 auto;
}

header {
    margin: 2em 0;
    padding: 0;
}

header .headerContent {
    text-align: left;
}

header > .headerContent > a > h1 {
    color: var(--color-text);
    text-transform: uppercase;
    letter-spacing: 0.3rex;
    font-weight: 300;
}

footer {
    text-align: center;
    background-color: var(--color-bg);
}

footer p {
    color: var(--color-footer);
    padding: 0.5rem 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--color-accent);
}

a:hover {
    color: var(--color-accent-hover);
}

a:visited {
    color: var(--color-accent-visited);
}

.btn,
a.btn,
.dropdown-toggle {
    height: 3rem;
    padding: 0;
    background-color: var(--color-button);

    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    color: var(--color-text);
    cursor: pointer;
}

.btn i,
.dropdown-toggle i {
    background: none;
    font-size: 1.5em;
    line-height: 1;
    border-radius: 50%;
    padding: 1.0rem;
    transition: background-color var(--animation);
}

.btn:hover,
a.btn:hover,
.dropdown-toggle:hover {
    background-color: var(--color-button-hover);
}

.btn:focus, .btn:active,
a.btn:focus, a.btn:active,
.dropdown-toggle:focus, .dropdown-toggle:active {
    background-color: var(--active);
}

.btn-text {
    margin: 0.5rem;
    font-size: 1rem;
}

.btn-full {
    width: 100%;
    justify-content: center;
}

.btn-delete:hover,
a.btn-delete:hover {
    background-color: var(--color-button-delete);
}

.btn-full i {
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    padding: 1rem 0.5rem 1rem;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: clamp(1rem, 4vw, 2.5rem);
    font-weight: 700;
    text-wrap: balance;
}

h3 {
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.15rex;
    font-weight: lighter;
}

.text-muted {
    color: var(--color-text-muted) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-danger {
    color: var(--danger) !important;
}