.moviePoster {
    aspect-ratio: 2 / 3;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-card);
    position: relative;
}

.moviePoster a {
    display: block;
    width: 100%;
    height: 100%;
}

.moviePoster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: filter var(--animation);
}

.moviePoster a:hover img {
    filter: brightness(20%);
}

.moviePoster .moviePosterTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.25rem;
    padding: 1.25rem;
    transform: translateY(0.75rem);
    opacity: 0;
    transition:
            opacity var(--animation),
            transform var(--animation);
    z-index: 1;
}

.moviePoster .moviePosterTitle .title {
    font-weight: 700;
}

.moviePoster .moviePosterTitle .year {
    font-weight: 400;
    opacity: 0.9;
}

.moviePoster a:hover .moviePosterTitle {
    transform: translateY(0);
    opacity: 1;
}