@import url("general.css");
@import url("pageLayout.css");
@import url("moviePoster.css");
@import url("personPortrait.css");

.metaRow > div {
    max-width: 100%;
    min-width: 50%;
}

.metaRow > h3 {
    text-align: right;
    min-width: min-content;
    max-width: 50%;
}

.headerPersons {
    height: 2em;
    margin: 0;
}

.headerPersons .btn {
    height: 2em;
    width: 2em;
}

.headerPersons i {
    font-size: 1em;
}

.person {
    box-sizing: content-box;
    height: 3em;
    padding: 0.5em;
    border-radius: var(--border-radius);
    transition: background-color var(--animation);
}

.person:hover {
    background-color: var(--color-bg-hover);
}

.person p {
    display: inline;
    white-space: nowrap;
}

.person i {
    font-size: 1.2em;
    padding: 0.6em;
}

.personOverlay {
    opacity: 0;
    transition: opacity var(--animation);
}

.person:hover .personOverlay {
    opacity: 1;
}