@import url("general.css");
@import url("pageLayout.css");
@import url("moviePoster.css");
@import url("personPortrait.css");

.headerPersons {
    height: 2em;
    margin: 0;
}

.headerPersons i {
    font-size: 1.1em;
    padding: 0.4rem;
}

.person {
    box-sizing: content-box;
    height: 3em;
    padding: 0.5em;
    border-radius: var(--border-radius);
    transition: background-color var(--animation);
}

.person:hover {
    background-color: var(--color-bg-hover);
}

.person p {
    display: inline;
    white-space: nowrap;
}

.person i {
    font-size: 1.2em;
    padding: 0.6em;
}

.personOverlay {
    opacity: 0;
    transition: opacity var(--animation);
}

.person:hover .personOverlay {
    opacity: 1;
}