@import url("general.css");
@import url("pageLayout.css");

.personPortrait {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.personPortrait img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}