:root {
    --color-bg: #14181c;
    --color-bg-alt-lighter: #2f3942;
    --color-bg-alt-darker: #262E36;
    --color-bg-hover: #475058;

    --color-text: #f2f2f2;
    --color-text-hover: #262E36;
    --color-text-muted: #9e9e9e;

    --color-accent: #8ebbcc;
    --color-accent-hover: #ffffff;
    --color-accent-visited: #445566;

    --color-button: #404f5a;
    --color-button-hover: #8ebbcc;
    --color-button-delete: #cc7b63;

    --active:#5faad6;

    --color-footer: #a0a0a0;

    --border-radius: 1.5em;

    --shadow-card: 0 2px 6px rgba(0,0,0,0.2);

    --max-width: 800px;

    --animation: 0.3s ease;
}
