:root { /* Pseudo selector for the root element of the document. */
    --active: #5faad6;
    --success: #64CC8D;
    --danger: #cc7b63;

    --accent: #8ebbcc;
    --darker: #262E36;
    --lighter: #9e9e9e;

    --color-bg: #14181c;
    --color-bg-alt-lighter: #2f3942;
    --color-bg-alt-darker: var(--darker);
    --color-bg-hover: #475058;
    --color-bg-light: var(--lighter);

    --color-text: #f2f2f2;
    --color-text-darker: var(--darker);
    --color-text-lighter: var(--lighter);

    --color-accent: var(--accent);
    --color-accent-hover: #ffffff;
    --color-accent-visited: #445566;

    --color-button: #404f5a;
    --color-button-hover: var(--accent);
    --color-button-delete: var(--danger);
    --color-button-confirm: var(--success);

    --color-footer: #a0a0a0;

    --border-radius: 1.5em;

    --shadow-card: 0 2px 6px rgba(0,0,0,0.2);

    --max-width: 800px;

    --animation: 0.3s ease;
}