@import url("variables.css");

form {
    display: flex;
    flex-direction: column;
}

label {
    color: var(--color-text);
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.15rex;
    margin-bottom: 0;
}

input,
select,
textarea {
    color: var(--color-text-muted);
    padding: 0.5rem;
    margin: 0 0 1rem 0;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--color-bg-hover);

}
textarea::placeholder,
input::placeholder,
select::placeholder {
    color: var(--color-text-muted);
}

textarea:focus,
input:focus,
select:focus,
select:hover{
    outline: none;
    color: var(--color-text);
}


select {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-clip: padding-box;
    cursor: pointer;
}

option {
    color: var(--color-text-muted);
    border-radius: var(--border-radius);
    padding: 0.5rem;
}

option:checked,
option:active,
option:focus,
option:hover{
    color: white !important;
    background-color: var(--color-accent-visited) !important;
}

select::-webkit-scrollbar {
    width: 0.3rem;
    border-radius: var(--border-radius);
}
select::-webkit-scrollbar-track {
    border-radius: var(--border-radius);
    background-color: transparent;
}
select::-webkit-scrollbar-thumb {
    background: var(--color-text-muted);
    border-radius: var(--border-radius);

}
select::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
}
.upload-box {
    font-size: 2.6rem;
    color: var(--color-accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px  var(--color-accent);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    margin: 1.2rem;
    cursor: pointer;
    background-color: var(--color-bg-hover);
    aspect-ratio: 2 / 3;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: border-color 0.3s, background-color 0.3s;
}
.upload-box:hover {
    border-color: var(--color-accent-hover);
    background-color: var(--color-accent-visited);
}

.upload-box input[type="file"] {
    display: none;
}

.actors-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.actor-input {
    flex: 1;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    height: 2.5rem;

}
.btn.btn-inline {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 0.9rem ;
}