@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("variables.css");

* {
    font-family: "Montserrat", sans-serif;
    color: var(--color-text);
}

body {
    max-width: var(--max-width);
    width: 80%;
    background-color: var(--color-bg);
    margin: 0 auto;
}

header {
    margin: 2em 0;
    padding: 0;
}

header .headerContent {
    text-align: left;
}

header > .headerContent > a > h1 {
    color: var(--color-text);
    text-transform: uppercase;
    letter-spacing: 0.3rex;
    font-weight: 300;
}

footer {
    text-align: center;
    background-color: var(--color-bg);
}

footer p {
    color: var(--color-footer);
    padding: 0.5rem 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--color-accent);
}

a:hover {
    color: var(--color-accent-hover);
}

a:visited {
    color: var(--color-accent-visited);
}

.btn, a.btn {
    background: transparent !important;
    padding: 0 !important;

    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    color: var(--color-text);
    cursor: pointer;
}

.btn i {
    font-size: 1.5em;
    line-height: 1;
    border-radius: 50%;
    padding: 1.0rem;
    background-color: var(--color-button);
    transition: background-color var(--animation);
}

.btn:hover i, a.btn:hover i {
    background-color: var(--color-button-hover);
}

h3 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.15rex;
    font-weight: lighter;
}

.moviePoster {
    aspect-ratio: 2 / 3;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-card);
    position: relative; 
}

.moviePoster a {
    display: block; 
    width: 100%;
    height: 100%;
}

.moviePoster img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    position: absolute; 
    top: 0;
    left: 0;
    transition: filter var(--animation);
}

.moviePoster a:hover img {
    filter: brightness(20%);
}

.moviePoster .moviePosterTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.25rem;
    padding: 1.25rem;
    transform: translateY(0.75rem);
    opacity: 0;
    transition:
            opacity var(--animation),
            transform var(--animation);
    z-index: 1;
}

.moviePoster .moviePosterTitle .title {
    font-weight: 700;
}

.moviePoster .moviePosterTitle .year {
    font-weight: 400;
    opacity: 0.9;
}

.moviePoster a:hover .moviePosterTitle {
    transform: translateY(0);
    opacity: 1;
}

.personPortrait {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.personPortrait img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}