@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("variables.css");

* {
    font-family: "Montserrat", sans-serif;
    color: var(--color-text);
}

body {
    max-width: var(--max-width);
    width: 80%;
    background-color: var(--color-bg);
    margin: 0 auto;
}

header {
    margin: 2em 0;
    padding: 0;
}

header .headerContent {
    text-align: left;
}

header > .headerContent > a > h1 {
    color: var(--color-text);
    text-transform: uppercase;
    letter-spacing: 0.3rex;
    font-weight: 300;
}

footer {
    text-align: center;
    background-color: var(--color-bg);
}

footer p {
    color: var(--color-footer);
    padding: 0.5rem 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--color-accent);
}

a:hover {
    color: var(--color-accent-hover);
}

a:visited {
    color: var(--color-accent-visited);
}

.btn, a.btn {
    background: transparent !important;
    padding: 0 !important;

    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--color-text);
    cursor: pointer;
}

.btn i {
    font-size: 1.7em;
    line-height: 1;
    border-radius: 50%;
    padding: 0.6rem;
    /*background-color: var(--color-bg);*/
    background-color: var(--color-button);
}

.btn:hover i, a.btn:hover i {
    background-color: var(--color-button-hover);
}

.headerPersons  i {
    font-size: 1.2em;
    padding: 0.4rem;
}

h3 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.15rex;
    font-weight: lighter;
}

.moviePoster {
    aspect-ratio: 2 / 3;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: var(--shadow-card);
    position: relative; 
}

.moviePoster a {
    display: block; 
    width: 100%;
    height: 100%;
}

.moviePoster img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    position: absolute; 
    top: 0;
    left: 0;
    transition: filter 0.3s ease;
}

.moviePoster a:hover img {
    filter: brightness(25%);
}

.moviePoster .moviePosterTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 1.2rem;
    background-color: transparent;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    width: 100%;
}

.moviePoster a:hover .moviePosterTitle {
    opacity: 1;
}

.personPortrait {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.personPortrait img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}