.persons {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.headerPersons {
    height: 2em;
    margin: 0;
}

.headerPersons > * {
    height: 100%;
    padding: 0;
}

.personIconSmall {
    margin: 0 0.5em 0 0;
    max-width: 50px;
    max-height: 50px;
}

.personOverlay {
    opacity: 0;
}

.personOverlay:hover {
    opacity: 1;
}