@import url("variables.css");

.headerPersons {
    height: 2em;
    margin: 0;
}

.headerPersons i {
    font-size: 1.1em;
    padding: 0.4rem;
}

.person {
    box-sizing: content-box;
    height: 3em;
    padding: 0.5em;
    border-radius: var(--border-radius);
    transition: background-color var(--animation);
}

.person:hover {
    background-color: var(--color-bg-hover);
}

.person p {
    display: inline;
    white-space: nowrap;
}

.person i {
    font-size: 1.2em;
    padding: 0.6em;
}

.personIconSmall {
    margin: 0 0.5em 0 0;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.personOverlay {
    opacity: 0;
    transition: opacity var(--animation);
}

.person:hover .personOverlay {
    opacity: 1;
}

@media (min-width: 768px) {
    body h1, .headerContent h1 {
        font-size: clamp(1.125rem, 3vw, 1.9rem) !important;
    }

    body h2, .topRow h2 {
        font-size: clamp(0.875rem, 2.5vw, 2rem) !important;
    }

    body h3, .details h3, .meta h3, .headerPersons h3 {
        font-size: clamp(1.5em, 2vw, 1.9rem) !important;
    }
    body p, .details p, .movieDescription p, .person p {
        font-size: clamp(0.625rem, 1.8vw, 1.125rem) !important;
    }
}
